<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">
    <link href='{% static "css/fontawesome.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">
</head>
<body>
{% block content %} {% endblock content %}
<script src='{% static "js/popper.js" %}'></script>
<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "js/bootstrap.js" %}'></script>
<script src='{% static "js/fontawesome.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src='{% static "js/script.js" %}'></script>
</body>
</html>
